body{
    margin: 0;
    padding: 0;
}

#id1{
    margin-top: 30px;
}
#aa{
    font-size: 28px;
}
a{
    text-emphasis: none;
    color: gray;
}
p{
    text-align: justify;
     text-indent: 2em;  
}
#idnav{
    background-color: white;
    border: none;
}
#menu{
    /* height: 300px; */
    text-align: center;
    background-color: rgba(243, 242, 242, 0.795);
}
#img1,#img2,#img3{
    width: 70%;
}
#caipin{
    text-align: center;
    margin-top: 20PX;
}
#xihao{
    text-align: center;
    margin-top: 20PX;  
}
.container > .row > div >h3,.container > .row > div >h4{
    line-height: 70px;
    margin: 0;
    padding: 0;
    font-weight: bolder;
}
.container > .row > div > ul >li,.container > .row > div > ul{
    padding: 0;
    margin:  0;
    /* height: 70px; */
    list-style: none;
    line-height: 70px;
    text-align: right;
   
}
.container > .row > div > ul > li >a{
    padding: 10px;
}
.container > .row > div > ul >li{
    /* padding: 0 1rem; */
    /* padding: 10px; */
    /* width: 70px; */
    text-align: center;
    /* margin: 2rem 0; */
    display: inline-block;
}
.container > .row > div > ul > li >a:hover{
    background-color: rgb(245, 131, 90);
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.container > .row > #imgbox >img{
    width: 100%;   
    height: 50%;
}
.container > .row > #imgbox1,.container > .row > #imgbox2,
.container > .row > #imgbox3,.container > .row > #imgbox4,
.container > .row > #imgbox5,.container > .row > #imgbox6{
    text-align: center;
}
.container > .row > #imgbox1 >img,
.container > .row > #imgbox3 >img,
.container > .row > #imgbox5 >img{
    width: 100%;
}
.container > .row > #imgbox1 >img:hover,
.container > .row > #imgbox3 >img:hover,
.container > .row > #imgbox5 >img:hover{
   border-radius: 50%;
}
hr{
    margin-top: 0;  
}
.container > .row > #imgbox7 >img,.container > .row > #imgbox8 >img,
.container > .row > #imgbox9 >img,.container > .row > #imgbox10 >img,
.container > .row > #imgbox11 >img,.container > .row > #imgbox12 >img,
.container > .row > #imgbox13 >img,.container > .row > #imgbox14 >img{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.container > .row > #imgbox7 >p,.container > .row > #imgbox8 >p,
.container > .row > #imgbox9 >p,.container > .row > #imgbox10 >p,
.container > .row > #imgbox11 >p,.container > .row > #imgbox12 >p,
.container > .row > #imgbox13 >p,.container > .row > #imgbox14 >p{
    text-align: justify;
}

.container > .row > #imgbox7 >img:hover,.container > .row > #imgbox8 >img:hover,
.container > .row > #imgbox9 >img:hover,.container > .row > #imgbox10 >img:hover,
.container > .row > #imgbox11 >img:hover,.container > .row > #imgbox12 >img:hover,
.container > .row > #imgbox13 >img:hover,.container > .row > #imgbox14 >img:hover{

  border-radius: 55%;
}

#footer{
    width: 100%;
    padding-top: 2rem;
    background-color: rgb(212, 208, 208);
    margin: 0;
}
/*
#ftimg,#footer_title{
    height: 250px;
    display: inline-block;
}
#ftimg{
    text-align: center;
    width: 30%;
}
#footer_title{
    padding: 4rem;
    width: 70%;
    text-align: center; 
}
 #footer_title>p{
    margin: 0;
    padding: 0;
    height: 100%;    
    line-height: 100%;    
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    text-align: left
} 
#ftimg img{
    width: 100%;
}
#ftimg{
    padding: 0 3rem;
    float: right;
}
#footer br{
    border: 1px #000000 solid ;
    height: 1px;
    width: 100%;
}
#Copy p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: .8rem;
}
#Copy{
    padding-top: 1.5rem;
}
*/
#footer > .container > .row >#footer_title > p{
    text-indent: 2em;
    text-align: justify;
    vertical-align: middle;
}
#footer > .container > .row > #ftimg >img{
    width: 50%;
}
#ftimg{
    text-align: center;
}
 #Copy >p{
    text-align: center;
    margin: 0;
    padding: 1rem;
} 

@media screen and (min-width: 1200px){
    #footer > .container > .row >#footer_title > p{
        margin-top: 50px;
    }
    #ftimg img{
        width: 50%;
    }
    p{
        font-size: 14px;
    }
}
 
@media screen and (max-width: 1199px) and (min-width:970px){
    #footer > .container > .row >#footer_title > p{
        margin-top: 25px;
    }
    #ftimg img{
        width: 50%;
    }
    p{
        font-size: 10px;
    }
}
@media screen and (max-width: 969px) and (min-width:420px){
    #ftimg img{
        
        width: 100%;
        
    }
    p{
        font-size: 8px;
    }
} /*
@media screen and (max-width: 969px) and (min-width:420px){
    #footer > .container > #ftimg >img{
        padding-top: 30px;
    }
}  
  @media screen and (max-width:420px){
    #ftimg,#footer_title{
        height: 100px;
    }
} 
} 
@media screen and (max-width:420px){
    #footer > .container > #ftimg >img{
        padding-top: 30px;
    }
}  */